body {
    background-color: beige;
    
}
.Eve{
    
    width:75%;
    height:500px;
    background-color:#FFFFFF;
    border:5px solid;
    border-style:solid;
    padding-left: 30px;
padding-right: 100px;
padding-bottom: 30px;
margin:100px;


}
h1 , h3{
    text-align: center;
}.square > img{
    align-items: center; 
     float: left; 
    background-color:white;
    border:5px solid;
    border-style:solid;
    margin-right: 200px;
    padding-top: 30px;
}


    .details{
        align-items: center;
    float: left;
    margin-right: 200px;

    }
    input[type="text"]{
        width:75%;
        padding-left: 30px;
    }

.square{
    width:100%;
    height:300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color:#FFFFFF;
    border:5px solid;
    border-style:solid;
}

   